.Toastify__toast-container > div[role="button"] {
  display: none !important; 
}

.Toastify__toast {
  border-radius: 6px !important;
  font-family: 'vazir', sans-serif !important; 
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1) !important;
  min-height: 60px !important;
  min-width: 400px !important;
}

.Toastify__toast--success {
  background-color: #d4edda !important; 
  color: #155724 !important;
  border: 1px solid #c3e6cb !important;
}

.Toastify__toast--error {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  border: 1px solid #f5c6cb !important;
}

.Toastify__toast--warning {
  background-color: #fff3cd !important; 
  color: #856404 !important;
  border: 1px solid #ffeeba !important;
}

.Toastify__toast--info {
  background-color: #d1ecf1 !important; 
  color: #0c5460 !important;
  border: 1px solid #bee5eb !important;
}

.Toastify__toast-body {
  padding: 10px 20px !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.Toastify__close-button > svg {
  fill: #6c757d !important; 
}
.Toastify__close-button:hover > svg {
  fill: #343a40 !important; 
}

.Toastify__toast-body {
  text-align: right !important;
}
